* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: url('image/fundo.gif') no-repeat center;
    background-size: cover;
    height: 100svh;

    display: grid;
    place-items: center;
    font-family: 'font1';
}

#data {
    color: #fff;
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
}

.relogio {
    /* background-color: aliceblue; */
    width: 90%;
    padding: 3% 0;

    display: flex;
    align-items: center;
    justify-content: space-around;
    background: transparent;
    border-radius: 5px;
    box-shadow: 0 8px 5px rgba(0 0 0 /.5);
}

.relogio div {

    background: #000000a2;
    color: #fff;
    width: 80%;
    padding: 3%;
    margin: 2%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    letter-spacing: 3px;
    box-shadow: 2px 2px 10px #fff;
}

.relogio span {
    font-size: 8rem;
    font-weight: 500;
}

.relogio .tempo {
    font-size: 1rem;
    font-family: 'font2';
}

@media (max-width: 500px) {

    .relogio {
        /* background-color: aliceblue; */
        width: 90%;
        flex-direction: column;
    }

    .relogio div {
        margin: 1.5rem 0;
        padding-bottom: 2rem;
    }
}

@font-face {
    font-family: 'font1';
    src: url('fonts/Chalkboy.otf');
}

@font-face {
    font-family: 'font2';
    src: url('fonts/Forresten.otf');
}